@font-face {
    font-family: Main;
    size-adjust: 110%;
    src: url("/Font/InterVariable.woff2");
}

@font-face {
    font-family: Icon;
    src: url("/Font/Tabler.ttf");
}


.app {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: scale(0.95);
    position: relative;
}

.app.loaded {
    opacity: 1;
    height: calc(100vh - 27px);
    transform: scale(1);
}

* {
    font-family: Main, Icon;
    color: var(--col-text);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-size: 11px;

    --col-bg: white;
    --col-overlay: rgba(255, 255, 255, 0.5);
    --col-text: #111111;
    --col-text-inverted: #F1ECF3;
    --col-text-overlay: rgb(107 114 128);
    --col-primary: #5536e0;
    --col-primary-hover: #492fbb;
    --col-secondary: #acee3a;
    --col-tertiary: #ffffffab;
    --col-contrast: #ebebeb;
    --col-border: #bbbbbb;
    --col-disabled: #251F29;
    --image-bg: url("/Image/BackgroundLight.png");

    image-rendering: auto;
}

@media (prefers-color-scheme: dark) {
    * {
        --col-bg: #222222;
        --col-overlay: rgba(0, 0, 0, 0.5);
        --col-text: #F1ECF3;
        --col-text-inverted: #111111;
        --col-text-overlay: rgb(107 114 128);
        --col-primary: #767df9;
        --col-primary-hover: #6268d3;
        --col-secondary: #BEF264;
        --col-tertiary: #50505031;
        --col-contrast: #343434;
        --col-disabled: #251F29;
        --col-border: #433e46;
        --image-bg: url("/Image/BackgroundDark.png");
    }
}

*[data-greyed-out="true"] {
    pointer-events: none;
    opacity: 0.5;
}

html, body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

body {
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 7px;
    height: 100vh;
    width: 100vw;
    background-image: var(--image-bg) !important;
    background-size: 120vw !important;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}



.errorMessage {
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
    gap: 10px;
    margin-top: 12px;
}

.errorMessage h4 {
    font-size: 20px;
    color: var(--col-secondary);
}

.errorMessage.medium {
    height: 60px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    border-radius: 5px;
    background-color: var(--col-tertiary);
    display: flex;
    align-items: center;
}

.footerLogo {
    height: 50%;
    margin-left: 10px;
    opacity: 0.8;
    filter: invert(100);
}


@media (prefers-color-scheme: dark) {
    .footerLogo {
        filter: none;
        opacity: 0.6;
    }
}


.draggableHeader {
    display: flex;
    margin-right: 15%;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4.3vw;
}

.draggableHeader img {
    height: 8vw;
    width: auto;
}

.windowCloseButton {
    position: absolute;
    right: 0px;
    top: 2vw;
}

.windowCloseButton button {
    background-color: rgba(255, 255, 255, 0.06) !important;
    color: var(--col-text) !important;
    font-weight: 400 !important;
    border-radius: 3px !important;
}

.buttonContainer button {
    font-weight: 550 !important;
    border-radius: 3px !important;
}

label {
    font-size: 1rem;
}

button {
    width: auto;
    height: 25px;
    padding: 14px !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: var(--col-text) !important;
    border-radius: 3px !important;
}

button:hover {
    opacity: 0.8;
}

.iconButton {
    width: 2rem !important;
    min-width: 0px !important;
    height: 2rem !important;
    padding: 2px !important;
    font-size: 1.2rem !important;
    color: white !important;
    background-color: var(--col-primary) !important;
}


*::-webkit-scrollbar {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--text-color);
    opacity: 0.5;
}

.flexx {
    display: flex;
    flex-direction: row;
}

.flexy {
    display: flex;
    flex-direction: column;
}

.fillx {
    width: 100%;
}

.filly {
    height: 100%;
}

.fjend {
    justify-content: flex-end !important;
}

.fjcenter {
    justify-content: center !important;
}

.fjstart {
    justify-content: flex-start !important;
}

.faend {
    align-items: flex-end !important;
}

.facenter {
    align-items: center !important;
}

.fastart {
    align-items: flex-start !important;
}

.gap20 {
    gap: 2rem;
}

.gap15 {
    gap: 1.5rem;
}

.gap10 {
    gap: 1rem;
}

.gap5 {
    gap: 0.5rem;
}

.tacenter {
    text-align: center;
}

.taleft {
    text-align: left;
}