* {
    --chakra-colors-blue-500: var(--col-primary) !important;
    --chakra-colors-blue-200: var(--col-primary) !important;
    --chakra-colors-gray-700: var(--col-bg) !important;
    --chakra-colors-chakra-border-color: var(--col-border) !important;
    --chakra-colors-whiteAlpha-400: var(--chakra-colors-whiteAlpha-200) !important;
    --drawer-bg: transparent !important;
    --drawer-box-shadow: none !important;
}

.chakra-modal__content-container .windowCloseButton {
    margin-right: 5vw;
    margin-top: 1vh;
}

.chakra-button, .chakra-button * {
    transition: none !important;
}

h2, .chakra-modal__header {
    margin: 0 !important;
    line-height: 11vw !important;
    font-size: 6.5vw !important;
    font-weight: 600 !important;
    letter-spacing: -0.05em !important;
}

.chakra-modal__header {
    padding-top: 1.5vw !important;
    padding-bottom: 1.5vw !important;
    margin-right: 10vw !important;
}

.chakra-divider {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.chakra-modal__content {
    height: 100%;
    width: 100%;
}

.chakra-container {
    padding: 10px !important;
    border: 1px solid var(--col-border);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}