.appReferenceSoundItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.appReferenceSoundItem .selectSoundButton {
    margin-left: auto;
    width: 200px;
}

.appReferenceSoundItem .selectSoundButton * {
    float: right;
}

.appReferenceSoundItem img, .appReferenceSoundItem > svg {
    width: 24px;
    height: 24px;
}

.soundPackList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.soundPack {
    background-color: var(--col-tertiary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    overflow: hidden;
}

.soundPack h3 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.05em;
}

.soundPack h4 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    opacity: 0.6;
}

.soundList {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.soundItem {
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 23vw;
    max-width: 23vw;
    min-height: 23vw;
    max-height: 23vw;
    background-color: var(--col-tertiary);
    border-radius: 5px;
}

.soundItem .soundItemButton {
    width: 100%;
    height: calc(17vw);
}

.soundItem img, .soundItem > .soundItemButton svg {
    height: 50px;
    width: 50px;
}

.soundItem > .soundItemButton * {
    color: #757DF9;
}

.soundItem .iconButton {
    width: 1.5rem !important;
    height: 1.5rem !important;
    padding: 0 !important;
    font-weight: 400 !important;
}

.soundItem h5 {
    margin: auto;
    font-size: 0.8rem;
}