/* Needed For Mica Effect */
html,
body {
    background: transparent;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

* {
    box-sizing: border-box;
    color: var(--col-text);

    --col-bg: white;
    --col-overlay: white;
    --col-text: #111111;
    --col-text-washed: #3d3d3d;
    --col-text-overlay: #111111;
    --col-primary: #5536e0;
    --col-primary-washed: #d6cdff;
    --col-primary-hover: #492fbb;
    --col-tertiary: #ffffff;
    --col-contrast: #ebebeb;
    --col-mask: rgba(0, 0, 0, 0.1);
    --col-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    --col-shadow-small: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --col-border: rgb(228, 228, 231);
}

*:not(.overrideFont):not(.overrideFont *),
*.enableFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@media (prefers-color-scheme: dark) {
    * {
        --col-bg: #171717;
        --col-overlay: #222222;
        --col-text: #F1ECF3;
        --col-text-washed: #d8d8d8;
        --col-text-overlay: #F1ECF3;
        --col-primary: #767df9;
        --col-primary-washed: #767df9;
        --col-primary-hover: #6268d3;
        --col-tertiary: #121212;
        --col-contrast: #343434;
        --col-mask: rgba(0, 0, 0, 0.4);
        --col-shadow: none;
        --col-shadow-small: none;
        --col-border: transparent;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

.appSplitView {
    display: flex;
    width: 100vw;
    height: 100vh;
}
