.positionPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.displayPreview {
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.displayPreview .wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.notificationWindowPreview {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationWindowPreview .notificationPreview {
    background-color: var(--col-bg);
    border-radius: 5px;
}

.notificationWindowPreview .notificationPreview img {
    height: 100%;
    width: auto;
    filter: invert(100%);
}

.notificationWindowPreview .ghostNotificationPreview {
    border: 5px dashed white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .notificationWindowPreview .notificationPreview img {
        filter: none;
    }
}