

.splashScreen {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: scale(0.9);

    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashScreen.showSplashScreen {
    opacity: 1;
    transform: scale(1);
}

.splashInnerBox {
    display: flex;
    gap: 1rem;
}

.splashInnerBox h1 {
    font-size: 3rem;
}

.splashInnerBox img {
    width: 5rem;
    height: 5rem;
}