.dragModeBody {
    margin: 0;
    margin-top: 5px;
    overflow: hidden;
}

.dragMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.dragMode h2 {
    font-size: 4vw;
    line-height: 4vw;
}

.dragMode p {
    margin-top: 1.5vw;
    font-size: 3vw;
    line-height: 4vw;
}